<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Remote Gaming" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Remote Gaming">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    <%= vite_client_tag %>
    <%= stylesheet_link_tag :app %>
    <script src="https://kit.fontawesome.com/c8fac941ce.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header class="navbar">
      <div id="navbar-app"></div>

      <script id="navbar-data" type="application/json">
        <%= raw json_escape({
          currentUser: current_user ? {
            name: current_user.username || current_user.name,
            profilePath: user_path(current_user),
            logoutPath: logout_path
          } : nil,
          currentGame: @game ? {
            uri: game_root_path(@game),
            name: @game.name
          } : nil,
          rootPath: root_path,
          loginPath: login_path,
          csrfToken: form_authenticity_token
        }.to_json) %>
      </script>

      <%= vite_javascript_tag "navbar" %>
    </header>

    <main class="page">
      <%= yield %>
    </main>
  </body>
</html>
